.signup-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 45%;
    height: 80%;
}
.form-group{
    padding-top: 10px;
    margin-top: 20px;
}
.error-validator{
    color: #D72323;
}

.eslogan-content{
    position: absolute;
    top:50%;
    left: 60%;
    text-align: center;
    color:#000000;
}
.col-lg-6{
    background-color: #30475E;
}
.eslogan-content p{
    margin: 20px auto;
    font-weight: bolder;
    line-height: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.label-signup {
    color:#000000;
}

.title-signup {
    color:#000000;
}
.logo-signup{
    width: 300px;
}